/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */
html {
  font-family: "Arimo", sans-serif;
  
  
}


.hello {
  /* text-align: center; */
  margin-left: auto;
  margin-right: auto;  
}

.what {
  padding-top: 24px;
}
.what p {
  font-size: 2rem;
}

.what h1 {
  /* color: #fff; */
  /* font-family: "McLaren", cursive; */
  font-weight: bold;
  font-size: 3rem;
}
/* .font {
  font-family: "Arimo", sans-serif;
} */
body {
  background: #eee;
  padding: 0 16px;
  /* background-color: #b518bd; */
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}



header {
  background-color: #f5ba13;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}



footer {
  position: relative;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #ccc;
}
